<!DOCTYPE html>
<html>

<head>
    <title>Ordered History</title>
    <link rel="stylesheet" href="/style/go_to_cart.css">
</head>

<body>
    <h1>Your Orders History</h1>
    <div class="container">
        <div class="cart-items">
            <% if (locals.cartList) { %>
                <% var total_items = 0; %>
                <% var total_price = 0; %>
                <% cartList.forEach(item => { %>
                    <% total_items += item.quantity; %>
                    <% total_price += (item.quantity * item.res.price); %>
                    <div class="product-row">
                        <div class="product-image">
                            <!-- Placeholder for product image -->
                            <img src="uploads/<%= item.res.productImage.toString() %>" alt="Product Image">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h2>Name: <%= item.res.name %></h2>
                                <p>Price: <%= item.res.price %></p>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
        <div class="other-content">
            <div class="subtotal">
                <p>Subtotal (<span id="item-count"><%= total_items %></span> items): Rs <span id="total-price"><%= total_price%></span> Rupees</p>
            </div>
        </div>
    </div>
</body>

</html>