<!DOCTYPE html>
<html>

<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/style/go_to_cart.css">
</head>

<body>
    <h1>Shopping Cart</h1>
    <div class="container">
        <div class="cart-items">
            <% if (locals.cartList) { %>
                <% cartList.forEach(item=> { %>
                    <% console.log(item); %>
                    <div class="product-row">
                        <div class="product-image">
                            <!-- Placeholder for product image -->
                            <img src="uploads/<%= item.res.productImage.toString()%>" alt="Product Image">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h2>Name: <%= item.res.name %>
                                </h2>
                                <p>Price: <%= item.res.price %>
                                </p>
                            </div>
                            <div class="quantity-controls">
                                <button id="decrease-quantity" product_id="<%= item.res._id %>">-</button>
                                <span class="quantity-added">
                                    <%= item.quantity %>
                                </span>
                                <button id="increase-quantity" product_id="<%= item.res._id %>">+</button>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                        <% } %>
        </div>
        <div class="other-content">
            <div class="subtotal">
                <p>Subtotal (<span id="item-count">X</span> items): Rs <span id="total-price">Y</span> Rupees</p>
            </div>
            <div class="proceed-button">
                <form action="/buy_product" method="get">
                    <button type="submit"> Proceed to Buy </button>
                </form>
            </div>
        </div>
    </div>
    <script src="/scripts/go_to_cart.js"></script>
</body>

</html>