<!-- search.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/search.css">
    <title>Search Results</title>
</head>
<body>
    <h1>All Results for the searched Product</h1>

    <div class="products-container">
        <% products.forEach(product => { %>
            <div class="product-box">
                <div class="product-image">
                    <!-- Placeholder for product image -->
                    <img src="uploads/<%= product.productImage.toString()%>" alt="Product Image">
                </div>
                <div class="product-details">
                    <h2><%= product.name %></h2>
                    <p>Price: <%= product.price %></p>
                    <p>Quantity: <%= product.quantity %></p>
                    <p>Seller: <%= product.seller_email %></p>
                    <div class="product-actions">
                        <button>Buy</button>
                        <a href="/add_to_cart?product=<%= JSON.stringify(product) %>">
                        <button>Add to Cart</button>
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>
